<div class="container">
  <h1 class="text-center my-5">Lesson generator for: <%= @lesson.name %></h1>
  <hr>
  <h2 class="text-center mt-5 mb-3">You lesson content</h2>
  <form action="/lessons/<%= @id %>" method="POST">
    <textarea class="form-control" name="content" rows="10" ><%= @lesson.content %></textarea>
    <button class="mt-3 btn btn-primary">Update</button>
  </form>

  <h2 class="text-center mt-5 mb-3">The text version</h2>
  <div>
    <%= @lesson_markdown %>
  </div>

  <h2 class="text-center mt-5 mb-3">Transcript version</h2>
  <ul class="list-group">
    <% @lesson.transcripts.each do |paragraph| %>
      <li class="list-group-item"><%= paragraph %></li>
    <% end %>
  </ul>

  <h2 class="text-center mt-5 mb-3">Speech version</h2>
  <audio controls src="/speech.mp3"></audio>
</div>